@model SF.Model.Tree
@{
    ViewBag.Title = "古树录入";
}
<link href="/css/page_editor.css" rel="stylesheet" />
<div class="tab-container">
    @using (Html.BeginForm())
    {
        <div class="tab-navs">
            <a class="active" href="#info_0">基本信息</a>
            <a href="#info_1">地理位置</a>
            <a href="#info_2">树体&冠径情况</a>
            <a href="#info_3">植物志资料</a>
            <a href="#info_4">其他调查情况</a>
            <a href="#info_5">负责&调查人员</a>
        </div>
        <div class="tab-contents">
            <p class="contents-title" id="info_0">基本信息</p>
            <div class="field-line">
                <span class="line-left">古树编号<i class="">*</i></span>
                <div class="line-right"> @Html.TextBoxFor(m => m.Number, new { @class="input-long"}) </div>
                @Html.ValidationMessageFor(m => m.Number)
            </div>
            <div class="field-line">
                <span class="line-left">古树名称<i class="">*</i></span>
                <div class="line-right">@Html.TextBoxFor(m => m.Name, new { @class = "input-long" })</div>
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="field-line">
                <span class="line-left">拉丁名<i class="">*</i></span>
                <div class="line-right">@Html.TextBoxFor(m => m.NameLatin, new { @class = "input-long" })</div>
                @Html.ValidationMessageFor(m => m.NameLatin)
            </div>
            <div class="field-line">
                <span class="line-left">古树树龄<i class="">*</i></span>
                <div class="line-right">
                    @Html.TextBoxFor(m => m.Age, new { @class = "small-text" })
                    <span class="box-size">年</span> @Html.ValidationMessageFor(m => m.Age)
                </div>
            </div>
            <div class="field-line">
                <span class="line-left">古树高度<i class="">*</i></span>
                <div class="line-right">
                    @Html.TextBoxFor(m => m.Height, new { @class = "small-text" })
                    <span class="box-size">M</span> @Html.ValidationMessageFor(m => m.Height)
                </div>
            </div>
            <div class="field-line">
                <span class="line-left">胸围<i class="">*</i></span>
                <div class="line-right">
                   @Html.TextBoxFor(m => m.ChestSize, new { @class = "small-text" })
                    <span class="box-size">CM</span> @Html.ValidationMessageFor(m=>m.ChestSize)
                </div>
            </div>
            <div class="field-line">
                <span class="line-left">根围<i class="">*</i></span>
                <div class="line-right">
                    @Html.TextBoxFor(m => m.RootSize, new { @class = "small-text" })
                    <span class="box-size">CM</span>
                </div>
            </div>
            <div class="field-line  ">
                <span class="line-left">生长状况<i class="">*</i></span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.Health, "良好", new { @class = "radios" }) 良好
                        @*<input type="radio" class="radios" name="radios" />
                        良好*@
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.Health, "一般", new { @class = "radios" }) 一般
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.Health, "濒死", new { @class = "radios" }) 濒死
                    </label>
                </div>
            </div>
            <p class="contents-title" id="info_1">地理位置</p>
            <div class="field-line">
                <span class="line-left">地址（城市）<i class="">*</i></span>
                <div class="line-right">
                    @Html.TextBoxFor(m => m.City, new { @class = "input-long" })
                </div>
            </div>
            <div class="field-line">
                <span class="line-left">经度<i class="">*</i></span>
                <div class="line-right">
                  @Html.TextBoxFor(m => m.LonText, new { @class = "small-text" })
                </div>
            </div>
            <div class="field-line">
                <span class="line-left">纬度<i class="">*</i></span>
                <div class="line-right">
                    @Html.TextBoxFor(m => m.LatText, new { @class = "small-text" })
                </div>
            </div>
            <div class="field-line">
                <span class="line-left">地点类别</span>
                <div class="line-right">
                    @Html.TextBoxFor(m => m.AddressType, new { @class = "input-long" })
                    
                </div>
            </div>
            <div class="field-line ">
                <span class="line-left">城市化程度</span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.CivilizedLevel, "野外", new { @class = "radios" }) 野外
                        
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.CivilizedLevel, "农村", new { @class = "radios" })
                        农村
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.CivilizedLevel, "城镇", new { @class = "radios" })
                        城镇
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.CivilizedLevel, "城市", new { @class = "radios" })
                        城市
                    </label>
                </div>
            </div>
            <p class="contents-title" id="info_2">树体&冠径情况</p>
            <div class="field-line ">
                <span class="line-left">是否在册</span>
                <div class="line-right">
                    <label class="radio-style">
                       @Html.RadioButtonFor(m => m.IsBooked, true, new { @class = "radios" })
                        是
                    </label>
                    <label class="radio-style">
                       @Html.RadioButtonFor(m => m.IsBooked, false, new { @class = "radios" })
                        否
                    </label>
                </div>
            </div>
            <div class="field-line ">
                <span class="line-left">是否名木</span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.IsFamous, true, new { @class = "radios" })
                        是
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.IsFamous, false, new { @class = "radios" })
                        否
                    </label>
                </div>
            </div>
            <div class="field-line">
                <span class="line-left">古树图片</span>
                <div class="line-right">
                    <label class="a-upload">+<input type="file" /></label>
                    <div class="line-desc">
                        <p>图片尺寸：高xxx 宽xxx</p>
                        <p>图片上传说明：支持jpg、bmp、png格式，单图片不超过2M</p>
                    </div>
                </div>
            </div>
            <div class="field-line">
                <span class="line-left">相关故事</span>
                <div class="line-right">
                    @*<textarea></textarea>*@
                    @Html.TextAreaFor(m=>m.Story)
                    <div class="line-desc">
                        <p>不超过500个字</p>
                    </div>
                </div>
            </div>
            <div class="field-line ">
                <span class="line-left">树皮</span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.BodySkin, "完整", new { @class = "radios" })
                        完整
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.BodySkin, "残缺", new { @class = "radios" })
                        残缺
                    </label>
                </div>
            </div>
            <div class="field-line ">
                <span class="line-left">树洞</span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.BodyHole, "无", new { @class = "radios" })
                        无
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.BodyHole, "少量", new { @class = "radios" })
                        少量
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.BodyHole, "大量", new { @class = "radios" })
                        大量
                    </label>
                </div>
            </div>
            <div class="field-line ">
                <span class="line-left">枯枝</span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.BodyDeadwood, "无", new { @class = "radios" })
                        无
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.BodyDeadwood, "少量", new { @class = "radios" })
                        少量
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.BodyDeadwood, "大量", new { @class = "radios" })
                        大量
                    </label>
                </div>
            </div>
            <div class="field-line ">
                <span class="line-left">病虫危害程度</span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.BodyBug, "无", new { @class = "radios" })
                        无
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.BodyBug, "不严重", new { @class = "radios" })
                        不严重
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.BodyBug, "严重", new { @class = "radios" })
                        严重
                    </label>
                </div>
            </div>
            <div class="field-line">
                <span class="line-left">应用价值</span>
                <div class="line-right">@Html.TextBoxFor(m => m.BodyUsage, new { @class = "input-long" })</div>
            </div>
            <div class="field-line">
                <span class="line-left">冠径南北</span>
                <div class="line-right">
                    @Html.TextBoxFor(m => m.CrownNorthSouth, new { @class = "small-text" })
                    <span class="box-size">M</span>
                </div>
            </div>
            <div class="field-line">
                <span class="line-left">冠径东西</span>
                <div class="line-right">
                    @Html.TextBoxFor(m => m.CrownEastWest, new { @class = "small-text" })
                    <span class="box-size">M</span>
                </div>
            </div>
            <div class="field-line ">
                <span class="line-left">树冠完整度</span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.CrownStatus, "圆整", new { @class = "radios" })
                        圆整
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.CrownStatus, "基本圆整", new { @class = "radios" })
                        基本圆整
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.CrownStatus, "残缺", new { @class = "radios" })
                        残缺
                    </label>
                </div>
            </div>
            <div class="field-line  ">
                <span class="line-left">偏冠</span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.CrownDeviated, "无", new { @class = "radios" })
                        无
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.CrownDeviated, "不明显", new { @class = "radios" })
                        不明显
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.CrownDeviated, "明显", new { @class = "radios" })
                        明显
                    </label>
                </div>
            </div>
            <p class="contents-title" id="info_3">植物志资料</p>
            <div class="field-line ">
                <span class="line-left">植物志资料</span>
                <div class="line-right">
                    @Html.TextAreaFor(m=>m.Information)
                </div>
            </div>
            <p class="contents-title" id="info_4">其他调查情况</p>
            <div class="field-line ">
                <span class="line-left">土质</span>
                <div class="line-right">
                    <label class="radio-style">
                       @Html.RadioButtonFor(m => m.OtherSoil, "好", new { @class = "radios" })
                        好
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherSoil, "中", new { @class = "radios" })
                        中
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherSoil, "差", new { @class = "radios" })
                        差
                    </label>
                </div>
            </div>
            <div class="field-line ">
                <span class="line-left">排水</span>
                <div class="line-right">
                    <label class="radio-style">
                       @Html.RadioButtonFor(m => m.OtherDrain, "自然排水", new { @class = "radios" })
                        自然排水
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherDrain, "人工排水", new { @class = "radios" })
                        人工排水
                    </label>
                </div>
            </div>
            <div class="field-line ">
                <span class="line-left">植被</span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherVegetation, "人工", new { @class = "radios" })
                        人工
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherVegetation, "自然", new { @class = "radios" })
                        自然
                    </label>
                </div>
            </div>
            <div class="field-line ">
                <span class="line-left">积水</span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherSeeper, "不积水", new { @class = "radios" })
                        不积水
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherSeeper, "轻微积水", new { @class = "radios" })
                        轻微积水
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherSeeper, "严重积水", new { @class = "radios" })
                        严重积水
                    </label>
                </div>
            </div>
            <div class="field-line ">
                <span class="line-left">雷击</span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherThunder, "是", new { @class = "radios" })
                        是
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherThunder, "否", new { @class = "radios" })
                        否
                    </label>
                </div>
            </div>
            <div class="field-line ">
                <span class="line-left">20M范围内水体情况</span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherWater, "有", new { @class = "radios" })
                        有
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherWater, "无", new { @class = "radios" })
                        无
                    </label>
                </div>
            </div>
            <div class="field-line ">
                <span class="line-left">铺装</span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherPavement, "有", new { @class = "radios" })
                        有
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherPavement, "无", new { @class = "radios" })
                        无
                    </label>
                </div>
                </div>
            
            <div class="field-line ">
                <span class="line-left">地面标高</span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherHeightMarker, "有", new { @class = "radios" })
                        有
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherHeightMarker, "无", new { @class = "radios" })
                        无
                    </label>
                </div>
                </div>
             
            <div class="field-line ">
                <span class="line-left">古树群</span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherIsGroup, "是", new { @class = "radios" })
                        是
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherIsGroup, "否", new { @class = "radios" })
                        否
                    </label>
                </div>
            </div>
            <div class="field-line ">
                <span class="line-left">挡土墙</span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherSoilProtector, "有", new { @class = "radios" })
                        有
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherSoilProtector, "无", new { @class = "radios" })
                        无
                    </label>
                </div>
            </div>
            <div class="field-line ">
                <span class="line-left">支撑</span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherStrut, "有", new { @class = "radios" })
                        有
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherStrut, "无", new { @class = "radios" })
                        无
                    </label>
                </div>
            </div>
            <div class="field-line ">
                <span class="line-left">驳岸</span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherBulkhead, "有", new { @class = "radios" })
                        有
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherBulkhead, "无", new { @class = "radios" })
                        无
                    </label>
                </div>
            </div>
            <div class="field-line ">
                <span class="line-left">避雷设施</span>
                <div class="line-right">
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherThunderProtector, "有", new { @class = "radios" })
                        有
                    </label>
                    <label class="radio-style">
                        @Html.RadioButtonFor(m => m.OtherThunderProtector, "无", new { @class = "radios" })
                        无
                    </label>
                </div>
            </div>
            <div class="field-line">
                <span class="line-left">保护半径</span>
                <div class="line-right">
                    @Html.TextBoxFor(m => m.OtherProtectRadient, new { @class="small-text"})
                   
                    <span class="box-size">M</span>
                </div>
            </div>
            <div class="field-line">
                <span class="line-left">根部</span>
                <div class="line-right">@Html.TextBoxFor(m => m.OtherRoot, new { @class = "input-long" })</div>
            </div>
            @*<div class="field-line">
                <span class="line-left">近5年古树及周边变化</span>
                <div class="line-right">@Html.TextBoxFor(m => m.OtherChanges, new { @class = "input-long" })</div>
            </div>*@
            <div class="field-line">
                <span class="line-left">最近建筑</span>
                <div class="line-right">@Html.TextBoxFor(m => m.OtherBuilding, new { @class = "input-long" })</div>
            </div>
            <div class="field-line">
                <span class="line-left">影响树木生长活动</span>
                <div class="line-right">@Html.TextBoxFor(m => m.OtherActivity, new { @class = "input-long" })</div>
            </div>
            <div class="field-line">
                <span class="line-left">护栏半径</span>
                <div class="line-right">@Html.TextBoxFor(m => m.OtherFenceRadient, new { @class = "input-long" })</div>
            </div>
            <div class="field-line ">
                <span class="line-left">近5年古树及周边变化</span>
                <div class="line-right">
                   @Html.TextAreaFor(m=>m.OtherChanges)
                </div>
            </div>
            <p class="contents-title" id="info_5">负责&调查人员</p>
            <div class="field-line">
                <span class="line-left">负责人</span>
                <div class="line-right">@Html.TextBoxFor(m => m.Dutier, new { @class = "input-long" })</div>
            </div>
            <div class="field-line">
                <span class="line-left">调查人</span>
                <div class="line-right">@Html.TextBoxFor(m => m.Inspector, new { @class = "input-long" })</div>
            </div>
            <div class="field-line">
                <span class="line-left">调查时间</span>
                <div class="line-right">@Html.TextBoxFor(m => m.InspectTime, new { @class = "input-long" })</div>
            </div>
            <div class="field-line">
                <span class="line-left">复核人</span>
                <div class="line-right">@Html.TextBoxFor(m => m.Checker, new { @class = "input-long" })</div>
            </div>
            <div class="field-line">
                <span class="line-left">复核时间</span>
                <div class="line-right">@Html.TextBoxFor(m => m.CheckTime, new { @class = "input-long" })</div>
            </div>
            <div class="field-line">
                <span class="line-left">上传人</span>
                <div class="line-right">@Html.TextBoxFor(m => m.Creator, new { @class = "input-long" })</div>
            </div>
            <div class="field-line">
                <span class="line-left">上传时间</span>
                <div class="line-right">@Html.TextBoxFor(m => m.CreateTime, new { @class = "input-long" })</div>
            </div>
            <div class="field-btn">
                <button class="btn btn-save">保存</button>
                <button class="btn btn-cancel">取消</button>
            </div>
            @Html.ValidationSummary()
            <div style="height: 200px;"></div>
         </div>
    }
</div>
