@model List<SF.Model.Tree>

@{
    ViewBag.Title = "古树列表";
}
<link href="/css/page_list.css" rel="stylesheet" />
@using (Html.BeginForm("index", "tree", FormMethod.Get))
{
    <input type="submit" style="display:none" />
    <div class="box-title">
        <ul class="box-nav">
            <li><a href=""><img src="/images/icon-tit.png">古树管理</a></li>
            <li class="nav-item"><a href="">古树列表</a></li>
        </ul>
    </div>

    <div class="box-tab tab-container">
        <ul class="tab-list">
            <li class="tab-header  active">名木古树</li>
            <li class="tab-header "><a href="/tree/map">古树地图</a></li>
        </ul>
        <div class="tab-contents ">
            <!--tab1-->
            <div class="all-content active">
                <div class="list-wrapper">
                    <!--label-->
                    <div class="btn-group page-con-height">
                        <a href="/tree/create" class="btn  page-btn-color">
                            <span class="glyphicon glyphicon-plus page-icon-size"></span>
                            古树录入
                        </a>

                        <a class="btn filters page-btn-color mar-le15">
                            高级筛选
                        </a>

                        <a class="btn  page-btn-color mar-le15">
                            删除
                        </a>
                        <div class=" page-btn-search mar-le15">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            @Html.TextBox("q.Area", null, new { @class = "input-search", placeholder = "请输入地理位置" })
                         
                        </div>
                        <div class=" page-btn-search mar-le15">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            @Html.TextBox("q.IDName", null, new { @class = "input-search", placeholder = "请输入编号/名称搜索" })
                           
                        </div>
                        <div class="page-download ">
                            <a href="javascript:;" class="file">
                                下载名片
                                @*<input type="file" name="file" id="" aria-required="true">*@
                            </a>
                        </div>
                    </div>
                    <!--end-->
                    <!--filter-->

                    <div class="page-filter">
                        <label>
                            古树树龄（年）：
                            @Html.Editor("q.age_start")
                            -
                            @Html.Editor("q.age_end")
                        </label>
                        <label class="mar-le15">
                            古树高度（M）：
                            @Html.Editor("q.height_start")
                            -
                            @Html.Editor("q.height_end")
                        </label>
                        <label class="mar-le15">
                            古树胸围（CM）：
                            @Html.Editor("q.chest_start")
                            -
                            @Html.Editor("q.chest_end")
                        </label>
                        <label class="mar-le15">
                            古树根围（CM）：
                            @Html.Editor("q.root_start")
                            -
                            @Html.Editor("q.root_end")
                        </label>
                        <span class="page-up">收起<img src="/images/icon-up.png"></span>
                    </div>

                    <!--end-->
                    <table class="table table-striped table-bordered  table-checkable order-column dataTable no-footer">
                        <tr role="row">
                            <th><input type="checkbox" class="group-checkable"></th>
                            <th class="sorting"> 古树编号 </th>
                            <th class="sorting"> 古树名称 </th>
                            <th class="sorting"> 拉丁名 </th>
                            <th class="sorting"> 是否名木 </th>
                            <th class="sorting"> 是否在册 </th>
                            <th class="sorting"> 区域 </th>

                            <th class="sorting"> 负责人 </th>
                            <th class="sorting"> 调查人 </th>
                            <th class="sorting"> 更新时间 </th>
                            <th class="sorting_desc"> 操作 </th>
                        </tr>
                        @foreach (var tree in @Model)
                        {
                            <tr class="gradeX odd" role="row">
                                <td><input type="checkbox" class="checkboxes" value="@tree.ID"> </td>
                                <td class="center"> @tree.Number </td>
                                <td class="center">@tree.Name</td>
                                <td class="center">@tree.NameLatin</td>
                                <td class="center"> 是 </td>
                                <td class="center"> 是 </td>
                                <td class="center"> @tree.County </td>

                                <td class="center"> @tree.Dutier </td>
                                <td class="center"> @tree.Inspector </td>
                                <td class="center"> @tree.InspectTime</td>
                                <td class="sorting_1">
                                    <a href="/tree/edit/@tree.ID" title="编辑"><img src="/images/icon-editor.png" /></a>
                                    <a title="地图"><img src="/images/icon-img.png" class="icon-img" /></a>
                                    <a title="名片" class="card-hover">
                                     <img src="/images/icon-card.png" class="icon-card" />
                                        <div class="box-card">
                                            <img src="/images/ewm.png" />
                                            <div class="card-content">
                                                <img src='@("/label/" + @tree.ID + ".png")' />
                                                @*<p>编号：<span>01</span></p>
                                                <p>名称：<span>大将军</span></p>
                                                <p>拉丁名：<span>迎客松</span></p>*@
                                            </div>
                                        </div>
                                    </a>
                                    <a title="删除"><img src="/images/icon-delete.png" class="icon-delete" /></a>
                                </td>
                            </tr>
                        }

                    </table>
                    <!--分页-->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            @foreach(var p in ViewBag.page)
                            {
                                   <li><a data-page="@p" href="javascript:void(0);">@p</a></li>
                            }               
                            
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                        <select class="form-control input-sm input-xsmall input-inline">
                            <option value="100">20</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="-1">所有</option>
                        </select>
                        跳至
                        <input id="q.jump" name="q.jump" type="text" />
                        页
                    </nav>
                    <!--end-->
                </div>
            </div>
            <!--end-->

        </div>
    </div>
    <input id="qcurrent" type="hidden" value="1" name="q.current" />
}
<script src="/js/page_list.js"></script>
<script type="text/javascript">
    $(function () {

        //pagination
        $('ul.pagination a').click(function () {
            $('#qcurrent').val($(this).attr('data-page'));
            $('form').submit();
        });

        //dowload labels
        $('.page-download').click(function () {
            var ids = [];
            $('table input:checked').each(function () {
                ids.push($(this).val());
            });
            if (ids.length > 0) {
                var param = ids.join(',');
                var url = "/tree/downloadlabel?ids=" + param;
                window.open(url);
            } else {
                alert('请至少选择一棵树');
            }
        });

    });

</script>