<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="renderer" content="webkit|ie-stand|ie-comp" />
    @Scripts.Render("~/vendor/all")
    <link href="/css/common.css?v2" rel="stylesheet" />
     
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/uniform/css/uniform.default.min.css" rel="stylesheet">
    
    <script src="/vendor/uniform/jquery.uniform.js"></script>
</head>
<body>
    <div class="page-common">
        <div class="page-head">
            <div class="head-icon"><img src="/images/bg1.png"></div>
            <h3 class="head-title">@ViewBag.User.Title</h3>
            <div class="head-name">
                @ViewBag.User.RealName <a href="/user/logout"><img src="/images/sign-out.png"></a>
            </div>
        </div>
        <div class="clear"></div>
        <div class="page-content ">
            <div class="content-sidebar">
                <ul class="sidebar-menu">
                    <li class="menu-item active">
                        <a href="/tree">
                            <img src="/images/icon-list.png">
                            <h6>古树</h6>
                        </a>
                    </li>
                    @if(ViewBag.User.ID==0)
                    { 
                    <li class="menu-item">
                        <a href="/user">
                            <img src="/images/icon-list2.png">
                            <h6>用户</h6>
                        </a>
                    </li>
                    }
                </ul>
            </div>
            <div class="content-right">
                <div class="content-box">
                    <!--content-->
                    @*<div class="box-title">
                        <ul class="box-nav">
                            <li><a href=""><img src="/images/icon-tit.png">古树管理</a></li>
                            <li class="nav-item"><a href="">古树录入</a></li>
                        </ul>
                    </div>*@
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
    <script src="/js/editor.js"></script>
</body>

</html>
